<header>
  <h1>{{ product }}</h1>
  <p>The following locales have at least <em>{{ pct }}%</em> translations:</p>
</header>

<section>
  <p class="res"><code>{{ toStr locales }}</code></p>

  <p class="res"><code>{{ toJSON locales }}</code></p>

  {{#if pendingLocales.length}}
  <table>
    <caption>{{ pct }}% &lt;= <em>n</em> &lt; 100%</caption>
    <thead>
      <tr>
        <th>Language</th>
        <th>Pct</th>
      </tr>
    </thead>
    <tbody>
      {{#each pendingLocales}}
      <tr>
        <td>{{ locale.code }} <small>({{ locale.name }})</small></td>
        <td>{{ toPct progress }}%</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}
</section>
